@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="container py-5">
    <h2>@Localizer["InstallationInstructionsTitle"]</h2>

    <p>
        <a href="https://drive.google.com/file/d/1O_NdDwRYsEYzzRJDulXCr1Ayh3oz4hpC/view?usp=sharing" download>
            @Localizer["DownloadApp"]
        </a>
    </p>

    <ol>
        <li>@Localizer["Step1"]</li>
        <li>@Localizer["Step2"]</li>
        <li>@Localizer["Step3"]</li>
        <li>@Localizer["Step4"]</li>
        <li>@Localizer["Step5"]</li>
        <li>@Localizer["Step6"]</li>
    </ol>
</div>
